/* Structure divs */
body {
    font-family: 'Glory', sans-serif;
    margin: 2px;
    background-color: #021027;
    height: 100vh;
    /* Setting transition for space destruction */
    transition: all 3s;
}

#main {
    display: flex;
}

#stars-above {
    height: 15%
}

#stars-below {
    display: flex;
    flex-direction: column;
    height: 20%
}

#stars-left, #stars-right {
    width: 20%;
    flex-grow: 1;
}

#shell {
    height: 525px;
    width: 60%;
    max-width: 375px;
    padding: 10px;
    background-color: #50626b;
    transition: all 1s;
}

/* Calculator design */
#display {
    height: 11%;
    width: 90%;
    margin: 5px auto;
    padding: 0 5px;
    padding-top: 4px;
    background-color: #71bf97;
    color: #05059cbf;
    text-align: end;
    font-size: 45px;
}

#brand {
    text-align: right;
    color: white;
    margin-right: 15px;
    margin-top: -6px;
    font-family: 'Allison', cursive;
    font-size: 27px;
}

/* New CSS class for warning */
#warning {
    margin-left: 63%;
    margin-top: 2px;
    border-radius: 3px;
    border: 1px solid #a7b6bd;
    width: 32%;
    height: 10px;
    padding: 1px;
    color: #FFF;
    background: #809aa7;
    font-size: 10px;
    text-align: center;
}

/* Media query for warning */
@media (max-width: 650px) {
    #warning {
        height: 9px;
        font-size: 9px;
    }
}

@media (max-width: 580px) {
    #warning {
        height: 8px;
        font-size: 7px;
    }
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    height: 78%;
    width: 95%;
    margin: auto;
    margin-top: 8px;
}

.button {
    flex: 20%;
    margin: 2px;
    padding-top: 14px;
    background-color: #3734ecb8;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 43px;
    color: white;
    text-align: center;
    transition: all 0.2s;
}

.xl-button {
    flex: 45%;
    background-color: #ff8843;
    color: black;
    font-weight: 700;
}

.number {
    background-color: #0a0707ba;
}

.pressed {
    box-shadow: 0px 0px 10px 2px #afff5fc9;
}

/* Stars declarations */
.stars {
    background-color: white;
    height: 2px;
    width: 2px;
    border-radius: 50%;
    animation-iteration-count: infinite;
}

.pulse {
    animation-duration: 3s;
    animation-name: twinkle;
}

.twinkle {
    animation-duration: 1s;
    animation-name: twinkle;  
}

@keyframes twinkle {
    20% {
      transform: scale(0.9);
      opacity: 0.5;
    }
  }
