body {
    font-family: 'Glory', sans-serif;
    margin: 35px;
    /* Adding black space background */
    background-color: #021027;
}

#shell {
    height: 475px;
    width: 400px;
    padding: 10px;
    margin: auto;
    background-color: #50626b;
}

#display {
    height: 11%;
    width: 90%;
    margin: 5px auto;
    padding: 0 5px;
    padding-top: 4px;
    background-color: #71bf97;
    color: #05059cbf;
    text-align: end;
    font-size: 45px;
}

#brand {
    text-align: right;
    color: white;
    margin-right: 15px;
    margin-top: -6px;
    font-family: 'Allison', cursive;
    font-size: 27px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    height: 78%;
    width: 95%;
    margin: auto;
    margin-top: 8px;
}

.button {
    flex: 20%;
    margin: 2px;
    padding-top: 9px;
    background-color: #3734ecb8;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 45px;
    color: white;
    text-align: center;
    transition: all 0.2s;
}

.xl-button {
    flex: 45%;
    background-color: #ff8843;
    color: black;
    font-weight: 700;
}

.number {
    background-color: #0a0707ba;
}

.pressed {
    box-shadow: 0px 0px 10px 2px #afff5fc9;
}

/* Stars declarations */
.stars {
    background-color: white;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    animation-iteration-count: infinite;
}

.stars-1 {
    margin-left: 12%;
    animation-duration: 15s;
    animation-name: twinkle;
}

.stars-2 {
    margin-left: 88%;
    animation-duration: 3s;
    animation-name: twinkle;
}

.stars-3 {
    margin-left: 48%;
}

.stars-4 {
    margin-left: 3%;
    animation-duration: 10s;
    animation-name: twinkle;
}

.stars-5 {
    margin-left: 95%;
    animation-duration: 7s;
    animation-name: twinkle;
}

#row-above {
    margin-bottom: 2%;
}

#row-below {
    margin-top: 5%;
}

@keyframes twinkle {
    20% {
      transform: scale(0.5);
      opacity: 0.5;
    }
  }
