#shell {
    height: 350px;
    width: 400px;
    padding: 10px;
    margin: auto;
    background-color: cadetblue;
}

#display {
    height: 15%;
    width: 90%;
    margin: 5px auto;
    padding: 0 5px;
    background-color: lightyellow;
    text-align: end;
    font-size: 45px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    height: 78%;
    width: 95%;
    margin: auto;
    margin-top: 15px;
    background-color: lightsalmon;
    font-size: 45px;
    text-align: center;
}

.button {
    flex: 20%;
    margin: 5px;
    background-color: #a17aff;
    border: 1px solid darkgreen;
}

#zero-button {
    flex: 45%;
}